@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    <!--This html page gives the format for one movie card, the for loop lets you make as many entities in database-->
    @foreach (var item in Model)
    {
        <!--Notice how this is just one large div, that is how you are able to build ontop of the other divs and combine them into one movie card-->
        <div class="col-md-4 col-xs-6 border-primary mb-3"> <!--This div is the blue top box-->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>git add
                        </div>
                    </div>
                    <div class="col-md-6"> <!--This div is the image movie in the center-left of the box -->
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6"> <!-- this div is the info on the right of the image-->
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Cinema: </b>@item.Cinema.Name</p>
                            <p class="card-text"><b>Category: </b>@item.MovieCategory</p>
                            <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("MMM. dd, yyyy")</p> <!-- dd MM yy turns "10/24/2022 5:20:38 PM" into "21 Oct 22" -->
                            <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("MMM. dd, yyyy")</p>
                            <p class="card-text ">
                                <b>Status: </b> <!--How to make an if-statement in html -->
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span> <!-- bg-success is green highlight, danger is red, primary is blue-->
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12"> <!--This div is for the info at the bottom of the box-->
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn btn-success text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart"
                               asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c")) <!-- the "c" stands for currency-->
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
